html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

html {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  overflow: hidden;
}

.todoapp {
  opacity: 0;
  padding: 10px;
  overflow: hidden;
  max-width: 350px;
  width: 100%;
  height: 100vh;
  transform: translateY(-100vh);
  animation: showApp 1.4s forwards cubic-bezier(0.64, 0.05, 0.41, 1.19);
}

@keyframes showApp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}